.dashboard-main__para {
  font-size: 2rem;
}

.edit-hotel__modal-upload {
  .anticon.anticon-eye {
    display: none;
  }
}

.reserved-room__card{
  margin-bottom: 1rem;
  .reserved-room__user {
    display: flex;
    .titles {
      min-width: 280px;
    }
  }
}
