.search-hotels {
  display: flex;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem ;
  .hotels-content {
    width: 100%;
    .hotels-item {
      display: flex;
      cursor: pointer;
      border: 2px solid #a3d7fc;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin: 1.5rem 0;
      &__img {
        border-radius: 1rem;
      }
      &__content {
        padding: 0 1rem;
        .hotels-item__desc {
          display: flex;
          align-items: flex-end;
          padding-top: 0.3rem;
          p {
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 123px;
          }
        }
        .hotels-item__name,
        .hotels-item__region {
          display: flex;
          justify-content: flex-end;
          text-align: right;
        }
      }
      &__right {
        .hotels-item__rating {
          pointer-events: none;
        }
      }
    }
    .hotels-count {
      text-align: right;
    }
  }
}

.current-hotel {
  padding: 2rem 0;
  .hotel-top {
    display: flex;
    justify-content: space-between;
  }

  .hotel-images {
    .hotel-images__item {
      margin: 0.2rem;
    }
  }

  .hotel-bottom {
    display: flex;
    .hotel-description {
      font-size: 1rem;
    }
    .hotel-advantages {
      border: 2px solid #ddd;
      border-radius: 1rem;
      padding: 1rem;
      margin-left: 1.5rem;
    }
  }
}