.search-hotels {
  display: flex;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem ;
  .hotels-content {
    width: 100%;
    .hotels-item {
      display: flex;
      cursor: pointer;
      border: 2px solid #a3d7fc;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin: 1.5rem 0;
      &__img {
        border-radius: 1rem;
      }
      &__content {
        padding: 0 1rem;
        .hotels-item__desc {
          display: flex;
          align-items: flex-end;
          padding-top: 0.3rem;
          p {
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 123px;
          }
        }
        .hotels-item__name,
        .hotels-item__region {
          display: flex;
          justify-content: flex-end;
          text-align: right;
        }
      }
      &__right {
        .hotels-item__rating {
          pointer-events: none;
        }
      }
    }
    .hotels-count {
      text-align: right;
    }
  }
}

.current-hotel {
  padding: 2rem 0;
  .hotel-top {
    display: flex;
    justify-content: space-between;
  }

  .hotel-images {
    .hotel-images__item {
      margin: 0.2rem;
    }
  }

  .hotel-bottom {
    display: flex;
    .hotel-description {
      font-size: 1rem;
    }
    .hotel-advantages {
      border: 2px solid #ddd;
      border-radius: 1rem;
      padding: 1rem;
      margin-left: 1.5rem;
    }
  }
}

.room-reserved__dates {
  display: flex;
}

.search-section {
  display: flex;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  border-radius: 1rem;
  .top-section {
    width: 100%;
  }
  .top-section__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    form {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .search-btn {
    margin-left: 0.7rem;
  }
  .top-section__input {
    max-width: 420px;
    width: 100%;
    margin-right: 0.7rem;
  }

  :where(.css-dev-only-do-not-override-1fviqcj).ant-form-item {
    margin: 0 0.2rem;
  }
}