.modal-input {
  margin-right: 2.2rem;
}

.ant-checkbox-group {
  flex-wrap: wrap;
}
.ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item {
  margin-left: 8px;
}

.offer-hotel {
  margin-right: 0.5rem;
  img {
    width: 100%;
  }
  .offer-hotel__texts {
    h4 {
      margin: 0;
    }
  }
}